# Node modules
**/node_modules/

# TypeScript build outputs
**/dist/
**/build/
**/*.tsbuildinfo

# Environment files
*.env
*.env.*

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# PHP / Laravel
/vendor/
/node_modules/
/.env
/.env.*
/storage/
/bootstrap/cache/
/.phpunit.result.cache
/.vagrant/
/.php-cs-fixer.cache
/.idea/

# Laravel IDE helper
/_ide_helper.php
/_ide_helper_models.php

# Laravel Mix
/public/hot
/public/storage
/storage/*.key

# Logs and temporary files
**/*.log
**/tmp/
**/temp/
**/*.cache

composer.phar